body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.kalkulator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.kalkulator-screen {
    width: 100%;
    min-height: 100px; /* Tinggi minimum */
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: #eaeaea;
    text-align: right;
    font-size: 3.5em; /* Ukuran font besar */
    padding: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word; /* Memungkinkan pemutusan kata */
    word-break: break-all; /* Memastikan teks diputus tanpa batas kata */
    white-space: normal; /* Mengizinkan pemutusan baris */
    overflow-y: auto; /* Scroll vertikal jika konten melebihi tinggi */
    max-height: 150px; /* Tinggi maksimum untuk layar kalkulator */
}

.kalkulator-keys {
    padding: 10px;
}

.rows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.all-clear {
    width: 120px; 
}

#zero-btn {
    width: 200px; 
}

button:hover {
    background-color: darkgrey;
}

.operator, .backspace, .negative-positive, .square-root, .square {
    background-color: #ff9500;
    color: white;
}

.operator:hover {
    background-color: #e68a00;
}

.all-clear {
    background-color: #ff3b30;
    color: white;
}

.all-clear:hover {
    background-color: #e63946;
}
